    /* Global */
    /*Resets border: 1px solid magenta;*/
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }
    /* Variables*/
    
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    header {
        margin: 40px 0;
        .header {
            text-align: center;
        }
    }
    
    .counter-box {
        height: 40px;
        display: flex;
        align-items: center;
        i {
            line-height: 35px;
            padding: 0 15px;
        }
        .counter {
            height: 15px;
            width: 300px;
            border-radius: 4px;
            border: 2px solid black;
        }
    }
    
    .button-box {
        display: flex;
        flex-direction: column;
        .btn-warpper {
            text-align: center;
            margin: 10px;
            img {
                object-fit: cover;
                height: 200px;
                width: 200px;
            }
            .player-btn:hover {
                cursor: pointer;
            }
            .robot-btn:hover {
                cursor: not-allowed;
            }
            .picked {
                border: 5px solid #990000;
                -webkit-box-shadow: 0px 0px 15px 2px #990000;
                box-shadow: 0px 0px 15px 2px #990000;
                border-radius: 50%;
            }
            .win {
                border: 5px solid #009908;
                -webkit-box-shadow: 0px 0px 15px 2px #009908;
                box-shadow: 0px 0px 15px 2px #009908;
                border-radius: 50%;
            }
            .draw {
                border: 5px solid #004799;
                -webkit-box-shadow: 0px 0px 15px 2px #004799;
                box-shadow: 0px 0px 15px 2px #004799;
                border-radius: 50%;
            }
        }
    }
    
    #winner {
        display: flex;
        justify-content: center;
        align-items: center;
    }